header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  background: #3ebd93;
}

header a {
  text-decoration: none;
}

.nav-menu li {
  display: inline-block;
  list-style: none;
  border: solid;
}

.nav-menu-link {
  display: inline-block;
  margin: 5px;
  border: 1px solid grey;
  text-decoration: none;
  border-radius: 5px;
  padding: 3px 15px;
  background-color: lightsteelblue;
}

.nav-menu-link:hover {
  border: 1px solid black;
  background-color: blueviolet;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.logo-link {
  color: darkblue;
  text-decoration: none;
  padding-left: 10px;
}
